[MASTER]
# Python code to execute, usually for sys.path manipulation
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    import-error

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

[BASIC]
# Good variable names
good-names=i,j,k,ex,Run,_,id,pk,db

[DESIGN]
# Maximum number of arguments for function / method
max-args=7
# Maximum number of attributes for a class
max-attributes=15
# Maximum number of boolean expressions in an if statement
max-bool-expr=5
# Maximum number of branch for function / method body
max-branches=15
# Maximum number of locals for function / method body
max-locals=20
# Maximum number of parents for a class
max-parents=7
# Maximum number of public methods for a class
max-public-methods=25
# Maximum number of return / yield for function / method body
max-returns=8
# Maximum number of statements in function / method body
max-statements=60

